<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.UserCatalogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.LogOutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.UserCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/user/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserOrderServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.UserOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserOrderServlet</servlet-name>
        <url-pattern>/user/order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserOrderAddServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.UserOrderAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserOrderAddServlet</servlet-name>
        <url-pattern>/user/order/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserOrderDeleteServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.UserOrderDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserOrderDeleteServlet</servlet-name>
        <url-pattern>/user/order/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserCardServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.UserCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCardServlet</servlet-name>
        <url-pattern>/user/card</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserAddCardServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.UserAddCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAddCardServlet</servlet-name>
        <url-pattern>/user/card/add</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.AdminOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminOrderDeleteServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.AdminOrderDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOrderDeleteServlet</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminOrderChangeServlet</servlet-name>
        <servlet-class>ru.mail.terletskaya.katerina.controller.AdminOrderChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOrderChangeServlet</servlet-name>
        <url-pattern>/admin/change</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>logFilter</filter-name>
        <filter-class>ru.mail.terletskaya.katerina.controller.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>logFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>logFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

</web-app>